<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Samba Manager</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="blurBg-false" style="background-color:#EBEBEB">
<script>
	function changeuser()
	{
		document.dataForm.action = "/sambamanager/"
	}
</script>


<!-- Start Formoid form-->
<link rel="stylesheet" href="/static/formoid-solid-blue-validar.css" type="text/css" />
<link rel="stylesheet" href="/static/table_validar.css" type="text/css" />
<script type="text/javascript" src="/static/jquery.min.js"></script>
<form class="formoid-solid-blue" style="background-color:#FFFFFF;font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:800px;min-width:150px" method="post" action="/sambamanager/changepassword/" name="dataForm">
        {% csrf_token %}
	<div class="title" align="center">
		<h2>Samba Manager</h2>
	</div>
	<div class="title2" align="center">
		<h3>USER: {{ USER }}</h3>
	</div>
	{% if MESSAGE %}
	<div class="element-input">
		<label class="title"></label>
			<div class="item-cont" align="center" style="font-size: 20px">
				<p style="color:red;">{{ MESSAGE }} <br></p>
			</div></div>
	{% endif %}


	<div class="title3">
		<h4>Change User</h4>
	</div>

	<div class="element-input">
		<label class="title"></label>
		<div class="item-cont" align="center">
			<input  type="text" name="change_user" placeholder="{{ USERCHANGE }}" readonly="readonly" value="{{ USERCHANGE }}"/>
		</div>
	</div>
	<div class="element-input">
		<label class="title"></label>
		<div class="item-cont" align="center">
			<input type="password" name="change_password" placeholder="Password"/>
		</div>
	</div>
	<div class="element-input">
		<label class="title"></label>
		<div class="item-cont" align="center">
			<input type="password" name="change_repassword" placeholder="Repeat Password"/>
		</div>
	</div>
	<div class="submit">
		<input type="submit" name="changeuserapplied" class="button-validar" value="Change User">
	</div>

<div class="submit">
	<input type="submit" name="back" class="button-validar" value="Back">
	<input type="submit" name="exit" class="button-validar" value="Exit">
</div>

</form>
</body>
</html>

