<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Samba Manager</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="blurBg-false" style="background-color:#EBEBEB">
<script>
	function deleteuser()
	{
		document.dataForm.action = "/sambamanager/"
	}
</script>


<!-- Start Formoid form-->
<link rel="stylesheet" href="/static/formoid-solid-blue-validar.css" type="text/css" />
<link rel="stylesheet" href="/static/table_validar.css" type="text/css" />
<script type="text/javascript" src="/static/jquery.min.js"></script>
<form class="formoid-solid-blue" style="background-color:#FFFFFF;font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:800px;min-width:150px" method="post" action="/sambamanager/" name="dataForm">
        {% csrf_token %}
	<div class="title" align="center">
		<h2>Samba Manager</h2>
	</div>
	<div class="title2" align="center">
		<h3>USER: {{ USER }}</h3>
		<input type="hidden" name="user_frm" value="{{ USER }}">
		<input type="hidden" name="password_frm" value="{{ PASS }}">
	</div>
	{% if MESSAGE %}
	<div class="element-input">
		<label class="title"></label>
			<div class="item-cont" align="center" style="font-size: 20px">
				<p style="color:red;">{{ MESSAGE }} <br></p>
			</div></div>
	{% endif %}


	<div class="title3">
		<h4>Add User</h4>
	</div>

	<div class="element-input">
		<label class="title"></label>
		<div class="item-cont" align="center">
			<input  type="text" name="add_user" placeholder="Username"/>
		</div>
	</div>
	<div class="element-input">
		<label class="title"></label>
		<div class="item-cont" align="center">
			<input type="password" name="add_password" placeholder="Password"/>
		</div>
	</div>
	<div class="element-input">
		<label class="title"></label>
		<div class="item-cont" align="center">
			<input type="password" name="add_repassword" placeholder="Repeat Password"/>
		</div>
	</div>
	<div class="element-input">
		<label class="title"></label>
		<div class="item-cont" align="center">
			<select name="add_group" style="max-width:20%;">
				  <option value="IQAAdmin">IQA Admin</option>
				  <option value="IQAUser">IQA User</option>
				  <option value="none">None</option>
			</select>
		</div>
	</div>
	<div class="submit">
		<input type="submit" name="adduser" class="button-validar" value="Add">
	</div>

	<div class="title3">
		<h4>Samba Users</h4>
	</div>
	<div>
    <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>ID</span></th>
        <th><span>UserName</span></th>
        <th><span></span></th>
      </tr>
    </thead>
    <tbody>
		{% for user in users_list %}
					 
				<tr>
					<td class="lalign"> {{ user.id }} </td> 
					<td class="lalign"> {{ user.username }} </td>
					<td class="lalign">
					 <button name="deleteuser" onclick="deleteuser()" class="button-validar"  value="{{ user.username }}" > Delete </button>
					</td>
				</tr>
		{% endfor %}
	</tbody>
	</table>
	</div>
<div class="submit">
	<input type="submit" name="exit" class="button-validar" value="Exit">
</div>

</form>
</body>
</html>

