<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Samba Manager</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="blurBg-false" style="background-color:#EBEBEB">
<script>
	function eliminarTurno()
	{
		document.dataForm.action = "/turnosapp/validaringreso/"
	}
</script>


<!-- Start Formoid form-->
<link rel="stylesheet" href="/static/formoid-solid-blue-validar.css" type="text/css" />
<link rel="stylesheet" href="/static/table_validar.css" type="text/css" />
<script type="text/javascript" src="/static/jquery.min.js"></script>
<form class="formoid-solid-blue" style="background-color:#FFFFFF;font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:800px;min-width:150px" method="post" action="/sambamanager/" name="dataForm">
        {% csrf_token %}
	<div class="title" align="center">
		<h2>Samba Manager</h2>
	</div>
	<div class="title2" align="center">
		<h3>USER: {{ USER }}</h3>
		<input type="hidden" name="nombrepaciente" value="{{ PACIENTE }}">
		<input type="hidden" name="dnipaciente" value="{{ DNIPACIENTE }}">
		<input type="hidden" name="documento" value="{{ DOCUMENTO }}">
		<input type="hidden" name="telefono" value="{{ TELEFONO }}">
	</div>
	<div class="title3">
		<h4>Samba Users</h4>
	</div>
	<div>
    <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>ID</span></th>
        <th><span>UserName</span></th>
        <th><span></span></th>
      </tr>
    </thead>
    <tbody>
		{% for user in users_list %}
					 
				<tr>
					<td class="lalign"> {{ user.id }} </td> 
					<td class="lalign"> {{ user.username }} </td>
					<td class="lalign">
					 <button name="datosturnos" onclick="eliminarTurno()" class="button-validar"  value="{{ turnos.hora }} || {{ turnos.id_relacion }}" > Delete </button>
					</td>
				</tr>
		{% endfor %}
	</tbody>
	</table>
	</div>
	<div class="title3">
		<h4>Reservar Turno</h4>
	</div>
    <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>Medico</span></th>
        <th><span>Especialidad</span></th>
        <th><span></span></th>
      </tr>
    </thead>
    <tbody>
                {% for key, value in DICMEDICOTMP.iteritems %}
		<tr>
		<td class="lalign"> {{ value.1 }} </td>
		<td> {{ value.3 }} </td>
		<td><button name="datosmedico" class="button-validar"  value="{{ value.1 }} || {{value.3}} || {{value.0 }} || {{value.4}}" >
		Reservar
		</td>
		</tr>
                {% endfor %} 
   </tbody>
   </table>
<div class="submit">
	<input type="submit" name="return" class="button-validar" value="Exit">
</div>

</form>
</body>
</html>

