<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>SAMBA VPN Manager</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="blurBg-false" style="background-color:#EBEBEB">



<!-- Start Formoid form-->
<link rel="stylesheet" href="/static/formoid-solid-blue.css" type="text/css" />
<script type="text/javascript" src="/static/jquery.min.js"></script>
<form class="formoid-solid-blue" style="background-color:#FFFFFF;font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:480px;min-width:150px" method="post" action="/select/">
        {% csrf_token %}
	<div class="title">
		<h2 style="text-align: center">SAMBA VPN MANAGER</h2>
		<h2 style="text-align: center">Login</h2>
	</div>
	<div class="element-input">
		<label class="title"></label>
			<div class="item-cont" align="center">
				<input  type="text" name="user_frm" placeholder="User"/>
			</div></div>
	<div class="element-input">
			<label class="title"></label>
				<div class="item-cont" align="center">
					<input type="password" name="password_frm" placeholder="Password"/>
				</div>
	</div>
<div class="submit">
	<input type="submit" name="commit" value="Submit"/>
</div>

</form>
</body>
</html>


